 @tailwind base;
 @tailwind utilities;
 
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem 1.5rem;
}

.grid > * {
    width: 100%;
    display:block;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
    border: 1px solid #555;
    box-shadow: 0 0 0 0 #555;
    transition: box-shadow .15s, border .15s;
    outline: 0;
}
.grid > *:hover, .grid > *:focus {
    border: 1px solid #209CEE;
    box-shadow: 0 0 0 .125rem #209CEE
}
.grid > [style^='--aspect-ratio']::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
}
.ReactModal__Body--open {
    overflow-y: hidden;
}